@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(254, 215, 170);
    height: 100vh;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}